<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="liginSuite">
<listeners>
<listener class-name ="com.mj.Utility.Listenersclass"></listener>
</listeners>
  <test thread-count="5" name="loginTest">
    <classes>
      <class name="com.test.Logintest"/>
    </classes>
  </test> <!-- loginTest -->
</suite> <!-- liginSuite -->
